h1 {
    color: aquamarine;
}
img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: black;
    padding: 50px;
    border: 12px coral dashed;
}

#sapnID {
    font-size: 18px;
    margin: 50px;
}